Node-RED/HeishaMon 1-wire
[
    {
        "id": "3c1f50c.4f56ab",
        "type": "tab",
        "label": "HeishaMon 1-wire",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f113927e.2a81f",
        "type": "mqtt in",
        "z": "3c1f50c.4f56ab",
        "name": "Zonneboiler aanvoer",
        "topic": "panasonic_heat_pump/1wire/2865e63d3a190111",
        "qos": "2",
        "datatype": "utf8",
        "broker": "92e5b2c.00a8b5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "f58a09e4.25cbb8",
                "176bfc40.d82354"
            ]
        ]
    },
    {
        "id": "f58a09e4.25cbb8",
        "type": "debug",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "8c857705.24eaf8",
        "type": "mqtt out",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "topic": "domoticz/in",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "92e5b2c.00a8b5",
        "x": 930,
        "y": 400,
        "wires": []
    },
    {
        "id": "176bfc40.d82354",
        "type": "function",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "func": "var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 77;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "8c857705.24eaf8"
            ]
        ]
    },
    {
        "id": "8b5a0e87.85c27",
        "type": "mqtt in",
        "z": "3c1f50c.4f56ab",
        "name": "Zonneboiler retour",
        "topic": "panasonic_heat_pump/1wire/28fcad6a3a1901f1",
        "qos": "2",
        "datatype": "utf8",
        "broker": "92e5b2c.00a8b5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "a5d2b0fe.2a02d",
                "88456c51.e2c9a"
            ]
        ]
    },
    {
        "id": "a5d2b0fe.2a02d",
        "type": "debug",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "88456c51.e2c9a",
        "type": "function",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "func": "var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 78;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "8c857705.24eaf8"
            ]
        ]
    },
    {
        "id": "ec035bb4.c9d098",
        "type": "mqtt in",
        "z": "3c1f50c.4f56ab",
        "name": "Zonnepaneel",
        "topic": "panasonic_heat_pump/1wire/283e65cd04000019",
        "qos": "2",
        "datatype": "utf8",
        "broker": "92e5b2c.00a8b5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "64040fd1.896bc",
                "eaeebe93.8513c"
            ]
        ]
    },
    {
        "id": "eaeebe93.8513c",
        "type": "debug",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "64040fd1.896bc",
        "type": "function",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "func": "var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 46;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 280,
        "wires": [
            [
                "8c857705.24eaf8"
            ]
        ]
    },
    {
        "id": "db0244e3.22381",
        "type": "comment",
        "z": "3c1f50c.4f56ab",
        "name": "Informatie",
        "info": "Aan de linkerkant dien je de nummers na panasonic_heat_pump/1wire/ aan te passen aan jouw situatie. De nummers vindt je in Heishamon webpagina.\n\nIn de gele vlakken vul je het juiste IDX nummer in.\n\nVerder pas je de juiste server nummers aan.",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "4de49c3b.eb53b4",
        "type": "mqtt in",
        "z": "3c1f50c.4f56ab",
        "name": "Warmtepomp in",
        "topic": "panasonic_heat_pump/1wire/28ff2a32601604c0",
        "qos": "2",
        "datatype": "utf8",
        "broker": "92e5b2c.00a8b5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 340,
        "wires": [
            [
                "79cc8da.1efaf74",
                "1d215eb0.b0dba9"
            ]
        ]
    },
    {
        "id": "b69e171a.6d036",
        "type": "mqtt in",
        "z": "3c1f50c.4f56ab",
        "name": "Warmtepomp uit",
        "topic": "panasonic_heat_pump/1wire/28ff5d85601604eb",
        "qos": "2",
        "datatype": "utf8",
        "broker": "92e5b2c.00a8b5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "4bba59fa.71082",
                "501db443.74e6a4"
            ]
        ]
    },
    {
        "id": "f4ea408a.40fcb8",
        "type": "mqtt in",
        "z": "3c1f50c.4f56ab",
        "name": "Boilervat CV",
        "topic": "panasonic_heat_pump/1wire/28ffd98d601603a0",
        "qos": "2",
        "datatype": "utf8",
        "broker": "92e5b2c.00a8b5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "159d6642.cc004a",
                "6d29c62a.dd436"
            ]
        ]
    },
    {
        "id": "b4378616.bb7278",
        "type": "mqtt in",
        "z": "3c1f50c.4f56ab",
        "name": "Boilervat tapwater uit",
        "topic": "panasonic_heat_pump/1wire/28ff032d60160469",
        "qos": "2",
        "datatype": "utf8",
        "broker": "92e5b2c.00a8b5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 520,
        "wires": [
            [
                "269b0f2e.78a3a8",
                "3aa7d295.5bea1e"
            ]
        ]
    },
    {
        "id": "f2bc00ae.deebb",
        "type": "mqtt in",
        "z": "3c1f50c.4f56ab",
        "name": "Tapwater uit",
        "topic": "panasonic_heat_pump/1wire/282b9fac08000016",
        "qos": "2",
        "datatype": "utf8",
        "broker": "92e5b2c.00a8b5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 580,
        "wires": [
            [
                "32f5b26d.c9db9e",
                "b4614f6f.e18078"
            ]
        ]
    },
    {
        "id": "79cc8da.1efaf74",
        "type": "function",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "func": "var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 44;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 340,
        "wires": [
            [
                "8c857705.24eaf8"
            ]
        ]
    },
    {
        "id": "4bba59fa.71082",
        "type": "function",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "func": "var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 43;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "8c857705.24eaf8"
            ]
        ]
    },
    {
        "id": "159d6642.cc004a",
        "type": "function",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "func": "var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 83;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 460,
        "wires": [
            [
                "8c857705.24eaf8"
            ]
        ]
    },
    {
        "id": "269b0f2e.78a3a8",
        "type": "function",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "func": "var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 84;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 520,
        "wires": [
            [
                "8c857705.24eaf8"
            ]
        ]
    },
    {
        "id": "32f5b26d.c9db9e",
        "type": "function",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "func": "var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 85;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 580,
        "wires": [
            [
                "8c857705.24eaf8"
            ]
        ]
    },
    {
        "id": "1d215eb0.b0dba9",
        "type": "debug",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "501db443.74e6a4",
        "type": "debug",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "6d29c62a.dd436",
        "type": "debug",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "3aa7d295.5bea1e",
        "type": "debug",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 520,
        "wires": []
    },
    {
        "id": "b4614f6f.e18078",
        "type": "debug",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 580,
        "wires": []
    },
    {
        "id": "9dcd82e9.58199",
        "type": "mqtt in",
        "z": "3c1f50c.4f56ab",
        "name": "Warmwater boilervat onder",
        "topic": "panasonic_heat_pump/1wire/2876a3373a190133",
        "qos": "2",
        "datatype": "utf8",
        "broker": "92e5b2c.00a8b5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 640,
        "wires": [
            [
                "98e251dd.895f4",
                "4dab346.3c65ecc"
            ]
        ]
    },
    {
        "id": "98e251dd.895f4",
        "type": "debug",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 640,
        "wires": []
    },
    {
        "id": "4dab346.3c65ecc",
        "type": "function",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "func": "var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 91;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 640,
        "wires": [
            [
                "8c857705.24eaf8"
            ]
        ]
    },
    {
        "id": "48c7b856.1b9a18",
        "type": "mqtt in",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "topic": "panasonic_heat_pump/s0/Watt/1",
        "qos": "2",
        "datatype": "auto",
        "broker": "92e5b2c.00a8b5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 720,
        "wires": [
            [
                "730c36c3.94ea88"
            ]
        ]
    },
    {
        "id": "730c36c3.94ea88",
        "type": "function",
        "z": "3c1f50c.4f56ab",
        "name": "IDX adder",
        "func": "\nvar idx_no = 638\nvar watthour = Number(flow.get(\"watthour1\"));\nwatthour = isNaN(watthour) ? 0 : watthour;\nvar watt = Number(msg.payload); \n\nmsg.payload = `{\\n \"idx\" : ${idx_no}, \"nvalue\" : 0, \"svalue\" : \"${watt};${watthour}\"\\n}`;\n\nreturn msg ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 720,
        "wires": [
            [
                "a2b94e31.d406f",
                "8c857705.24eaf8"
            ]
        ]
    },
    {
        "id": "c90e45e5.c29ec8",
        "type": "mqtt in",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "topic": "panasonic_heat_pump/s0/Watthour/1",
        "qos": "2",
        "datatype": "auto",
        "broker": "92e5b2c.00a8b5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 780,
        "wires": [
            [
                "acb061.d0c91fa"
            ]
        ]
    },
    {
        "id": "a2b94e31.d406f",
        "type": "debug",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 720,
        "wires": []
    },
    {
        "id": "35e5a8bd.6f4788",
        "type": "mqtt in",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "topic": "panasonic_heat_pump/s0/Watt/2",
        "qos": "2",
        "datatype": "auto",
        "broker": "92e5b2c.00a8b5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 840,
        "wires": [
            [
                "439c4cfc.9da044"
            ]
        ]
    },
    {
        "id": "439c4cfc.9da044",
        "type": "function",
        "z": "3c1f50c.4f56ab",
        "name": "IDX adder",
        "func": "\nvar idx_no = 672\nvar watthour = Number(flow.get(\"watthour2\"));\nwatthour = isNaN(watthour) ? 0 : watthour;\nvar watt = Number(msg.payload); \n\nmsg.payload = `{\\n \"idx\" : ${idx_no}, \"nvalue\" : 0, \"svalue\" : \"${watt};${watthour}\"\\n}`;\n\nreturn msg ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 840,
        "wires": [
            [
                "708976e7.403668",
                "8c857705.24eaf8"
            ]
        ]
    },
    {
        "id": "404d6411.70862c",
        "type": "mqtt in",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "topic": "panasonic_heat_pump/s0/Watthour/2",
        "qos": "2",
        "datatype": "auto",
        "broker": "92e5b2c.00a8b5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 920,
        "wires": [
            [
                "240fe8a9.301c88"
            ]
        ]
    },
    {
        "id": "708976e7.403668",
        "type": "debug",
        "z": "3c1f50c.4f56ab",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 840,
        "wires": []
    },
    {
        "id": "acb061.d0c91fa",
        "type": "change",
        "z": "3c1f50c.4f56ab",
        "name": "Set flow variable watthour1",
        "rules": [
            {
                "t": "set",
                "p": "watthour1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "240fe8a9.301c88",
        "type": "change",
        "z": "3c1f50c.4f56ab",
        "name": "Set flow variable watthour2",
        "rules": [
            {
                "t": "set",
                "p": "watthour2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "92e5b2c.00a8b5",
        "type": "mqtt-broker",
        "name": "MQTT (localhost)",
        "broker": "localhost",
        "port": "1883",
        "clientid": "Node_Red_Client",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
