Node-RED/Resol
[{"id":"8d26cd78404d3ed1","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"0a0ab37845e753b9","type":"mqtt in","z":"8d26cd78404d3ed1","name":"MQTT Resol","topic":"home/resol/#","qos":"2","datatype":"auto-detect","broker":"92e5b2c.00a8b5","nl":false,"rap":false,"inputs":0,"x":170,"y":580,"wires":[["1362cb9ff0b408c8","058f7ce5bcb415be"]]},{"id":"058f7ce5bcb415be","type":"debug","z":"8d26cd78404d3ed1","name":"debug","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":260,"y":660,"wires":[]},{"id":"1362cb9ff0b408c8","type":"split","z":"8d26cd78404d3ed1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":580,"wires":[["3ae58328bb95b63e"]]},{"id":"9a81b46d603592de","type":"debug","z":"8d26cd78404d3ed1","name":"debug 226","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1430,"y":640,"wires":[]},{"id":"3ae58328bb95b63e","type":"function","z":"8d26cd78404d3ed1","name":"Get \"temp\" id and value","func":"// get the key/value pair\nvar key = msg.parts.key;\nvar value = msg.payload;\n\n// get first 4 chars of key and check if it is \"temp\"\nvar left4 = key.substr(0, 4);\nif (left4 == \"temp\")\n{\n    // determine id (= number after \"temp\")\n    msg.temperature_id = parseInt(key.substr(4));   // temp id\n    // convert temperature value from string to float number\n    msg.temperature_value = parseFloat(value);\n}\nelse // if it not starts with \"temp\", then id == 0\n{\n    msg.temperature_id = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":580,"wires":[["76b56cac44198af3"]]},{"id":"76b56cac44198af3","type":"switch","z":"8d26cd78404d3ed1","name":"\"temp\" id > 0?","property":"temperature_id","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":580,"wires":[["ae8845046b95f770"]]},{"id":"5597c8151630c81e","type":"function","z":"8d26cd78404d3ed1","name":"prepare domoticz command","func":"var idx_no = msg.domoticz_idx;\nvar temp = msg.temperature_value;\n\nmsg.payload = `{\\n \"command\":\"udevice\",\"idx\" : ${idx_no}, \"svalue\" : \"${temp}\"\\n}`;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":580,"wires":[["9a81b46d603592de","c25a8e9b8767e5c8"]]},{"id":"ae8845046b95f770","type":"change","z":"8d26cd78404d3ed1","name":"","rules":[{"t":"set","p":"domoticz_idx","pt":"msg","to":"$.temperature_id + 60","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":580,"wires":[["5597c8151630c81e"]]},{"id":"c25a8e9b8767e5c8","type":"mqtt out","z":"8d26cd78404d3ed1","name":"Domoticz in","topic":"domoticz/in","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"92e5b2c.00a8b5","x":1510,"y":580,"wires":[]},{"id":"92e5b2c.00a8b5","type":"mqtt-broker","name":"MQTT (localhost)","broker":"localhost","port":"1883","clientid":"Node_Red_Client","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""}]
