Node-RED/WP eigen
[
    {
        "id": "c98a6e84.07966",
        "type": "tab",
        "label": "WP eigen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "737aa6fd.c0bbd8",
        "type": "mqtt in",
        "z": "c98a6e84.07966",
        "name": "Domoticz Gemiddelde kamertemperatuur",
        "topic": "domoticz/out/331",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4d2ff189.666908",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 260,
        "y": 100,
        "wires": [
            [
                "c38c10aa944804da"
            ]
        ]
    },
    {
        "id": "ddce2add.a6e758",
        "type": "mqtt in",
        "z": "c98a6e84.07966",
        "name": "Gemiddelde buitentemperatuur",
        "topic": "domoticz/out/640",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4d2ff189.666908",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "9f168ee3e29ba512"
            ]
        ]
    },
    {
        "id": "ade9a826.da6908",
        "type": "mqtt in",
        "z": "c98a6e84.07966",
        "name": "P1 verbruik/consumption",
        "topic": "domoticz/out/35",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4d2ff189.666908",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "3da545fc1ccf9429"
            ]
        ]
    },
    {
        "id": "7e9393f.a80ed6c",
        "type": "mqtt in",
        "z": "c98a6e84.07966",
        "name": "P1 production",
        "topic": "domoticz/out/35",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4d2ff189.666908",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "93a0a11fcacdcd9a"
            ]
        ]
    },
    {
        "id": "3da545fc1ccf9429",
        "type": "link out",
        "z": "c98a6e84.07966",
        "name": "Consumption",
        "mode": "link",
        "links": [
            "27946c3f8eead705",
            "0b7297d74465461b"
        ],
        "x": 515,
        "y": 220,
        "wires": []
    },
    {
        "id": "c38c10aa944804da",
        "type": "link out",
        "z": "c98a6e84.07966",
        "name": "RTC",
        "mode": "link",
        "links": [
            "d4dc5a5661f266a2",
            "32d1b4e4fec77f82"
        ],
        "x": 515,
        "y": 100,
        "wires": []
    },
    {
        "id": "9f168ee3e29ba512",
        "type": "link out",
        "z": "c98a6e84.07966",
        "name": "Outside",
        "mode": "link",
        "links": [
            "0663d0be4f87bf2c",
            "989803d979852822"
        ],
        "x": 515,
        "y": 160,
        "wires": []
    },
    {
        "id": "a15f4be62375883c",
        "type": "link out",
        "z": "c98a6e84.07966",
        "name": "Production",
        "mode": "link",
        "links": [
            "8f355882706a35c4",
            "e5355d49a683746c"
        ],
        "x": 795,
        "y": 280,
        "wires": []
    },
    {
        "id": "93a0a11fcacdcd9a",
        "type": "json",
        "z": "c98a6e84.07966",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "19464d9b6dcf1655"
            ]
        ]
    },
    {
        "id": "8f626ae64fb064aa",
        "type": "debug",
        "z": "c98a6e84.07966",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "19464d9b6dcf1655",
        "type": "function",
        "z": "c98a6e84.07966",
        "name": "",
        "func": "var temp = msg.payload.svalue6;\nreturn[{payload:temp}]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 280,
        "wires": [
            [
                "8f626ae64fb064aa",
                "a15f4be62375883c"
            ]
        ]
    },
    {
        "id": "2432d9a8601f9604",
        "type": "mqtt in",
        "z": "c98a6e84.07966",
        "name": "",
        "topic": "zigbee2mqtt/Woonkamer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "92e5b2c.00a8b5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 440,
        "wires": [
            [
                "863d698b026ba0a9"
            ]
        ]
    },
    {
        "id": "340ffa23ba85dba1",
        "type": "mqtt in",
        "z": "c98a6e84.07966",
        "name": "",
        "topic": "zigbee2mqtt/Bureau",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "92e5b2c.00a8b5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 500,
        "wires": [
            [
                "863d698b026ba0a9"
            ]
        ]
    },
    {
        "id": "b4b27e82db051270",
        "type": "function",
        "z": "c98a6e84.07966",
        "name": "function",
        "func": "var temp = msg.payload.temperature;\nreturn [{ payload: temp }]",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 500,
        "wires": [
            [
                "45e389276bbc2bf7"
            ]
        ]
    },
    {
        "id": "45e389276bbc2bf7",
        "type": "debug",
        "z": "c98a6e84.07966",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 900,
        "y": 560,
        "wires": []
    },
    {
        "id": "494ef923d683e055",
        "type": "debug",
        "z": "c98a6e84.07966",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 560,
        "wires": []
    },
    {
        "id": "94b60eaa64ab36e7",
        "type": "mqtt in",
        "z": "c98a6e84.07966",
        "name": "",
        "topic": "zigbee2mqtt/Temperatuur",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4d2ff189.666908",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "863d698b026ba0a9"
            ]
        ]
    },
    {
        "id": "863d698b026ba0a9",
        "type": "average",
        "z": "c98a6e84.07966",
        "name": "",
        "topic": "",
        "x": 620,
        "y": 500,
        "wires": [
            [
                "494ef923d683e055",
                "b4b27e82db051270"
            ]
        ]
    },
    {
        "id": "4d2ff189.666908",
        "type": "mqtt-broker",
        "name": "192.168.2.4",
        "broker": "192.168.2.4",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "verifyservercert": true,
        "protocolVersion": "4",
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "92e5b2c.00a8b5",
        "type": "mqtt-broker",
        "name": "192.168.2.4",
        "broker": "192.168.2.4",
        "port": "1883",
        "clientid": "Node_Red_Client",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
